<!DOCTYPE html>

<h2>Flight Search</h2>

<p>
  Each flight has basic information including some of the information you gave us. This search will help you see how many flights are available at any given time for any origin/destinations that are available.
</p>

<div class="container">
  <pet-profile ng-repeat="#">
    <div class="col-xs-12">
      <h2>{{Solutions}}</h2>
      <h3>{{Origin}} {{Destination}}</h3>
      <h4>{{Date}}</h4>
      <p>
        {{passengers}}
        {{refundable}}
      </p>
    </div>
  </pet-profile>
</div>
