<!DOCTYPE html>

<div class="row">
  <h2>About TIKD</h2>
</div>

<div class="row">
  <p>
    We are a flight database company. Our goal is to let you search for and book flights from one place. We have a large selection of flights and our database is growing every day!
  </p>
</div>

<feat-pet>
  <div class="col-xs-12">
    <!-- these are placeholders for the angular expressions change them to whatever you need. Also maybe this can be a featured flight?-->
    <h2>{{Solutions}}</h2>
    <h3>{{Origin}} {{Destination}}</h3>
    <h4>{{Date}}</h4>
    <p>
      {{passengers}}
      {{refundable}}
    </p>
  </div>
</feat-pet>
